@media all and (max-width: 1790px){
    .wrapper.home {  
        margin-top: 7vw;
    }
    .block-content:nth-of-type(odd) {
        width: 50%;
        opacity: 0;
    }    
    .project-image { 
        height: 7vw;
    }
}
@media all and (max-width: 1680px){
    .product-image-holder {
        height: 10vw;
    }
}
@media all and (max-width: 1536px){
    .wrapper { 
        width: 1200px;
    }
    .testimonials-container {
        width: 90%; 
        margin: 0 auto;
    }
    .review {
        width: 30%;
    }
}
@media all and (max-width: 1440px){
    .social-link {
        font-size: 1vw; 
    }
    .header-info-item {
        font-size: 1vw; 
    }
    .nav-link { 
        font-size: 1.2vw;
    }
    .carousel-control-next, .carousel-control-prev { 
        padding: 0.7vw;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 1.5vw;
    }
    .main-title {
        font-size: 4vw; 
    }
    p {
        font-size: 1.2vw; 
    }
    .home p {
        font-size: 1.2vw; 
    }
    .buttons a, .submit-btn {
        font-size: 1.2vw; 
        padding: 0.7vw 1.2vw;
    }
    .home-description h2 {
        font-size: 2vw; 
    }
    .home-description p {
        font-size: 1vw;
    }
    .feature-list-item {
        font-size: 1vw; 
    } 
    .follow-us-link {
        font-size: .8vw;
    }
    .follow-us-list span {
        font-size: .8vw; 
    }
    .about-info span {
        font-size: 1vw; 
    }
    .about-info h2 {
        font-size: 2.4vw; 
    }
    .about-info p {
        font-size: 1.2vw; 
    }
    .about-info a { 
        font-size: 1.2vw;
    }
    .about-process h3 {
        font-size: 1.7vw; 
    }
    .process-item-heading span {
        font-size: 3vw;
    }
    .process-item-heading h4 {
        font-size: 1vw; 
    }
    .process-item p {
        font-size: 1.2vw;
    }
    #about h5 {
        font-size: 1.7vw; 
    }
    .achievement-content {
        padding: 1vw; 
    }
    .achievement-content h6 {
        font-size: 1.2vw; 
    }
    .achievement-content p {
        font-size: 1.2vw; 
    }
    .stats-title { 
        font-size: 1.7vw;
    }
    .stats-list li { 
        font-size: 1vw;
    }
    .number-count {
        font-size: 2.2vw; 
    }
    .services-content h2 {
        font-size: 2.2vw; 
    }
    .tab-btn {
        font-size: 1.2vw; 
    } 
    .tab-text h3 { 
        font-size: 1.2vw;
    }
    .tab-pane h4 {
        font-size: 1.2vw; 
    }
    .services-list { 
        font-size: 1.2vw;
        padding-left: 1.5vw;
    }
    .download-paragraph {
        font-size: 1.2vw; 
    }
    .table {
        font-size: 1.2vw;
    }
    .visit-us h2 { 
        font-size: 1.7vw;
    }
    .visit-us p { 
        font-size: 1.2vw;
    }
    .products-title {
        font-size: 1.7vw; 
    }
    .product-link, .project-btn { 
        font-size: .8vw;
        padding: 0.6vw;
    }
    .product-item-content h4 { 
        font-size: 1.2vw;
    }
    .product-item-content span {
        font-size: 1vw; 
    }
    .prices-title {
        font-size: 1.7vw; 
    }
    .testimonials h2 { 
        font-size: 1.7vw;
    }
    .testimonials-container {
        width: 100%; 
    }
    .review-text {
        width: 77%;
    }
    .review-text p {
        font-size: 1vw; 
    }
    .review-image {
        width: 3.5vw;
    }
    .review-image img { 
        height: 3.5vw;
    }
    .review-text h3 {
        font-size: 1vw; 
    }
    .carousel-indicators [data-bs-target] {  
        height: 4px;
    }
    .projects-content span {
        font-size: 1vw; 
    }
    .projects-content h2 {
        font-size: 2.2vw;
        margin-bottom: 2vw;
    }
    .projects-content a { 
        font-size: 1.2vw;
    }
    .projects-titles h3 {
        font-size: 1.7vw; 
    }
    .expand-image-btn .fa-expand {
        font-size: 1vw;
    }
    .projects-follow a {
        font-size: .8vw;
    }
    .map {
        height: 26vw; 
    }
    .contacts-title, .form-title {
        font-size: 2.2vw; 
    }
    .contacts-subtitle, .form-subtitle {
        font-size: 1.7vw; 
    }
    .contact-block-text {
        font-size: 1vw; 
    }
    .contact-block-title h4 {
        font-size: 1vw;
        margin-top: 2px;
    }
    .contact-form {
        width: 100%;
        font-size: 1.2vw;
    }
    .contact-form input::placeholder, .contact-form textarea::placeholder {
        font-size: 1.2vw; 
    }
    .contact-form input{
        padding-bottom: 0.5vw;
    }
    #err-fname, #err-email, #err-mssg { 
        font-size: 1vw;
    }
    .footer-title {
        font-size: 2.2vw; 
    }
    .footer a {
        margin-right: 1.2vw;
        font-size: 1.2vw;
    }
    .footer-copyright p {
        font-size: .8vw; 
    }
}
@media (hover: none) { 
    /*--navigation links--*/
    .nav-link:hover{
        color: inherit; 
    }
    .nav-link::before, .nav-link::after{
        border-width: 1px; 
    } 
    .nav-link:hover::before{
        width: 0%;
        height: 0%;
        border-color: transparent;
    }
    .nav-link:hover::after{
        width: 0%;
        height: 0%;
        border-color: transparent;
    }

    /*--home page links--*/
    .buttons a::before, .submit-btn::before, .buttons a::after, .submit-btn::after {
        border-width: 1px;
    } 
    .buttons a:first-of-type:hover{
        background-color: #e27d6e1c;
    }
    .buttons a:last-of-type:hover{ 
        background-color: #8d7e811f; 
    }
    .submit-btn:hover{
        background-color: transparent;
        color: #272b33;
    }
    .buttons a:hover::before, .submit-btn:hover::before{
        width: 1vw;
        height: 1vw;
    }
    .buttons a:hover::after, .submit-btn:hover::after{
        width: 1vw;
        height: 1vw;
    }
    .buttons a:active::before, .submit-btn:active::before{
        width: 100%;
        height: 100%;
        transition: width, height, .2s ease-in-out;
        -webkit-transition: width, height, .2s ease-in-out;
        -moz-transition: width, height, .2s ease-in-out;
        -ms-transition: width, height, .2s ease-in-out;
        -o-transition: width, height, .2s ease-in-out;
    }
    .buttons a:active::after, .submit-btn:active::after{
        width: 100%;
        height: 100%;
        transition: width, height, .2s ease-in-out;
        -webkit-transition: width, height, .2s ease-in-out;
        -moz-transition: width, height, .2s ease-in-out;
        -ms-transition: width, height, .2s ease-in-out;
        -o-transition: width, height, .2s ease-in-out;
    }
    .buttons a:first-of-type:active, .submit-btn:active{
        background-color: #e27e6e;
        color: #fff;
    }
    .buttons a:last-of-type:active{
        background-color: #8d7e81;
    }
    .carousel-control-next:hover, .carousel-control-prev:hover{
        background-color: #e27d6e7c;
    }
    .carousel-control-next:active, .carousel-control-prev:active{
        background-color: #e27e6e;
    }

    /*--products links--*/
    .product-image-holder::before, .product-image-holder::after{
        border-width: 1px;
    }
}
@media all and (max-width: 1100px){
    .wrapper {
        width: 900px;
    }
    .social-link { 
        margin-right: 1vw;
    }
    .header-info-item { 
        margin-left: 2vw;
    }
    .block-content:nth-of-type(even) {
        width: 45%;
        opacity: 0;
    }
    .carousel-indicators {
        bottom: -3vw; 
    }
    .carousel-indicators [data-bs-target] {
        height: 3px;
    }
    .project-image {
        height: 8vw;
    }
    .expand-image-btn .fa-expand {
        font-size: 1.2vw;
    }
    .expand-item { 
        width: 55vw; 
    }
    .expanded-image-header h4 {
        font-size: 1.4vw;
    }
    .expanded-image-header .fa-xmark {
        font-size: 1.4vw; 
    }
    .modal-close-btn { 
        font-size: 1.4vw;
    }
    .modal-title {
        font-size: 1.4vw;
    }
    .modal-body p {
        font-size: 1.2vw;
    }
}
@media all and (max-width: 1020px){
    .wrapper {
        max-width: 800px; 
    }
    .navbar-brand img{
        width: 4vw;
    }
}
@media all and (max-width: 921px) and (max-height: 1400px){
    .wrapper {
        max-width: 725px;
    }
    #homeCarousel { 
        height: 30vh;
    }
    .carousel-control-next, .carousel-control-prev {
        padding: 1vw;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 2vw;
    } 
    #aboutStats { 
        padding: 4vw;
    }
    .visit-us-block {
        height: fit-content;
        padding: 4vw 0;
    }
    .expand-image-btn { 
        top: 0;
        right: 0;
    }
    .expanded-image-header { 
        padding: 2vw 2vw 1.2vw 2vw;
    }
    .expanded-image-header .fa-xmark {
        font-size: 1.6vw;
    }
    .expanded-image-header h4 {
        font-size: 1.6vw;
    }
    .map {
        height: 34vw;
    }
    .contact-form input, .contact-form textarea{
        border-width: 1px;
    }
}
@media all and (max-width: 820px) and (max-height: 1300px){
    .wrapper {
        max-width: 650px;
    }
}
@media all and (max-width: 770px) and (max-height: 1050px) {
    .wrapper {
        max-width: 620px;
    }
}
@media all and (max-width: 700px) and (max-height: 1050px){
    #homeCarousel {
        height: 35vh;
    }
    .wrapper {
        max-width: 540px;
    }
    .wrapper.home {
        margin-top: 12vw;
    }
} 
@media all and (max-width: 600px) and (max-height: 1050px){
    .wrapper {
        max-width: 440px;
        flex-wrap: wrap;
    }
    .social-link {
        margin-right: 2vw;
        font-size: 2vw;
    }
    .header-info-item {
        font-size: 2vw;
    }
    .navbar-brand img {
        width: 6vw;
    }
    .nav-link {
        font-size: 2.5vw;
    }
    .navbar-expand-sm .navbar-nav .nav-link.active::before, .navbar-expand-sm .navbar-nav .nav-link.active::after { 
        width: 10px;
        height: 10px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 3.5vw;
    }
    .carousel-control-next, .carousel-control-prev {
        padding: 1.5vw;
    }
    .block-content:nth-of-type(odd), .block-content:nth-of-type(even){ 
        width: 100%;
        margin-top: 4vw;
    }
    #homeCarousel {
        height: 70vh;
    }
    .main-title {
        font-size: 6.5vw;
    }
    p {
        font-size: 2.5vw;
    }
    .home p {
        font-size: 2.5vw;
    }
    .buttons a, .submit-btn {
        font-size: 2.5vw;
        padding: 1vw 1.5vw;
    }
    .buttons a::before, .submit-btn::before, .buttons a::after, .submit-btn::after {
        width: 10px;
        height: 10px;
    }
    .home-description {
        width: 100%; 
        padding: 3vw;
    } 
    .home-description h2 {
        font-size: 3vw;
    }
    .home-description p {
        font-size: 2.5vw;
    } 
    .feature-list-item {
        font-size: 2.5vw;
    }
    .follow-us-list span {
        font-size: 2vw;
    }
    .follow-us-link {
        font-size: 2vw;
        margin-left: 2vw;
    }   
    .about-info span {
        font-size: 2vw;
    }
    .about-info h2 {
        font-size: 4vw;
        margin-top: 1vw;
        margin-bottom: 4vw;
    }
    .about-info p {
        font-size: 2.5vw;
        margin-bottom: 2vw;
    }
    .about-info a {
        font-size: 2.5vw;
    }
    .about-process h3 {
        font-size: 3vw;
        margin-bottom: 4vw;
    }
    .process-item-heading span {
        font-size: 7vw;
    }
    .process-item-heading h4 {
        font-size: 2.5vw;
        margin-left: 1vw; 
    }
    .process-item{
        width: 100%;
        margin-bottom: 4vw;
    }
    .process-item p {
        font-size: 2.5vw;
    }
    #about h5 {
        font-size: 3vw;
    }
    #aboutStats {
        padding: 5vw;
    }
    .achievement-container {
        width: 100%; 
        padding: 1vw;
        margin: 4vw 0 2vw 0;
    }
    .badge { 
        padding: 0 2vw;
        font-size: 4vw;
    }
    .achievement-content {
        padding: 2vw;
    }
    .achievement-content h6 {
        font-size: 2.5vw;
    }
    .achievement-content p {
        font-size: 2.5vw;
    }
    .stats-title {
        font-size: 3vw;
    }
    .stats-title span, .visit-us h2 span {
        padding: 0.5vw 1vw; 
    }
    .number-count {
        font-size: 5vw;
    }
    .stats-list li {
        font-size: 2vw;
    }
    .stats-content {
        margin: 0 auto;
        width: 80%;
    }
    .services-content h2 {
        font-size: 4vw;
    }
    .tab-btn {
        font-size: 2.5vw;
        margin-right: 2vw;
    }
    .tab-item-content{
        margin-top: 2vw;
    }
    .tab-badge {
        display: none;
    }
    .tab-text{
        margin-left: 0;
    }
    .tab-text h3 {
        font-size: 3vw;
    }
    .tab-pane h4 {
        font-size: 2.5vw;
    }
    .services-list {
        font-size: 2.5vw;
        padding-left: 3vw;
    }
    .download-paragraph {
        font-size: 2.5vw;
        margin-top: 4vw;
        padding-top: 1vw;
    }
    .table {
        font-size: 2.5vw;
    }
    .visit-us-block{
        padding: 5vw 0;
    }
    .visit-us h2 {
        font-size: 3vw;
    }
    .visit-us p {
        font-size: 2.5vw;
        width: 100%;
        margin-bottom: 2vw;
    }
    .products-list { 
        margin-top: 4vw;
    }
    .products-title {
        font-size: 3vw;
    }
    .product-item {
        width: 48%;
        height: auto;
        margin-bottom: 4vw; 
    }
    .product-image-holder {
        height: 25vw;
        padding: 2vw; 
    }
    .product-image-holder::after, .product-image-holder::before {
        width: 25px;
        height: 25px;
    }
    .product-item-content h4 {
        font-size: 2.5vw;
    }
    .product-item-content span {
        font-size: 2vw;
    }
    .prices-title {
        font-size: 3vw;
    }
    #testimonials {
        margin: 5vw 0;
        padding: 5vw;
    }
    .testimonials h2 {
        font-size: 3vw;
    }
    .testimonials span {
        padding: 0.5vw 1vw; 
    }
    .testimonials .desc-p {
        width: 100%; 
    }
    .testimonials-item-content {
        flex-direction: column;
    }
    .review {
        width: 100%;
        margin-bottom: 2vw;
        padding: 2vw;
    }
    .review-image {
        width: 7vw;
    }
    .review-image img {
        height: 7vw;
    }
    .review-text{
        width: 85%;
    }
    .review-text h3 {
        font-size: 2.5vw;
    }
    .review-text p {  
        font-size: 2.5vw;
    }
    .projects-content span {
        font-size: 2vw;
    }
    .projects-content h2 {
        margin-top: 1vw;
        font-size: 4vw;
        margin-bottom: 2vw;
    }
    .projects-content a {
        font-size: 2.5vw;
    }
    .projects-titles h3 {
        font-size: 3vw;
    }
    .projects-titles { 
        margin-bottom: 2vw;
    }
    .project-item { 
        width: 47%;
        margin-bottom: 2vw;
    }
    .project-image {
        height: 23vw;
    }
    .expand-item {
        width: 80vw;
    }
    .expanded-image-header {
        padding: 3vw 3vw 2vw 3vw;
    }
    .expand-image-btn .fa-expand {
        font-size: 2.5vw;
    }
    .expanded-image-header .fa-xmark {
        font-size: 2.5vw;
    }
    .expanded-image-header h4 {
        font-size: 2.5vw;
    }
    .projects-follow a {
        font-size: 2vw;
    }
    .map {
        height: 50vw;
    }
    .contacts-title, .form-title {
        font-size: 4vw;
    }
    .contacts-subtitle, .form-subtitle {
        font-size: 3vw;
    }
    .contact-block-title h4 {
        font-size: 2.5vw; 
    }
    .contact-block-text {
        font-size: 2.5vw;
    }
    .contact-form label, .contact-form input, .contact-form input::placeholder, .contact-form textarea, .contact-form textarea::placeholder {
        font-size: 2.5vw;
    }
    #err-email, #err-fname, #err-mssg{
        font-size: 2vw;
    }
    .footer-title {
        font-size: 4vw;
    }
    .footer p {
        width: 100%; 
    }
    .footer a {
        margin-right: 2.5vw;
        font-size: 2.5vw;
    }
    .footer-copyright p {
        font-size: 1.5vw;
    }
    .footer-copyright { 
        margin-top: 4vw;
        padding-top: 2vw;
    }
}
@media all and (max-width: 576px) and (max-height: 960px){
    .wrapper {
        max-width: 90vw; 
    }
    .offcanvas {
        background-color: #272b33; 
    }
    .navbar-toggler{
        position: relative; 
        width: 12vw;
        border: none;
    }
    .navbar-toggler:focus { 
        box-shadow: none; 
    }
   .offcanvas-header{
        justify-content: flex-end;
    }
    .btn-close-menu{
        color: #e27e6e;
        font-size: 4vw; 
    }
    .toggler-line{
        position: absolute;
        width: 50%;
        height: 1.6px;
        background-color: #e27e6e;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
    .toggler-line:first-of-type{
        top: 20%;
        left: 28%;
        animation-name: toggler-first-reverse;
        animation-duration: .4s;
        animation-fill-mode: forwards;
    } 
    .toggler-line:nth-of-type(2){
        top: 47%;
        left: 28%;
        animation-name: toggler-middle-reverse;
        animation-duration: .2s;
        animation-fill-mode: forwards;
    }
    .toggler-line:last-of-type{
        bottom: 21%;
        left: 28%;
        animation-name: toggler-last-reverse;
        animation-duration: .4s;
        animation-fill-mode: forwards;
    }
    .header-nav-content { 
        justify-content: space-between;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
        font-size: 4vw;
        margin-left: 1vw;
        padding: 2vw 2vw;
        color: #fff;
    }
    .navbar-expand-sm .navbar-nav .nav-link.active::before, .navbar-expand-sm .navbar-nav .nav-link.active::after {
       display: none; 
    }    
    .nav-link.navbar-expand-sm .navbar-nav .nav-link:active, .navbar-expand-sm .navbar-nav .nav-link.active{ 
        background-color: #e27e6e;
        color: #fff; 
    } 
    .carousel-control-next, .carousel-control-prev { 
        display: none;
    }
    .dropdown-menu { 
        padding: 2vw 2vw; 
    }
    .product-image-holder {
        height: 31vw; 
    }
    .project-image {
        height: 29vw;
    }
}
@media all and (max-width: 481px) and (max-height: 1000px){
    .navbar-toggler { 
        height: 8vw;
    }
}
@media all and (max-width: 921px) and (max-height: 501px) {
    .wrapper {
        max-width: 700px;
    }
    #homeCarousel { 
        height: 85vh;
    }
    .carousel-control-next, .carousel-control-prev {
        padding: 1vw;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 2vw;
    }
    #aboutStats { 
        padding: 4vw;
    }
    .visit-us-block {
        height: 26vw;
    }
    .expand-image-btn { 
        top: 0;
        right: 0;
    }
    .expanded-image-header { 
        padding: 2vw 2vw 1.2vw 2vw;
    }
    .expanded-image-header .fa-xmark {
        font-size: 1.6vw;
    }
    .expanded-image-header h4 {
        font-size: 1.6vw;
    }
    .map {
        height: 34vw;
    }
    .contact-form input, .contact-form textarea{
        border-width: 1px;
    }
}
@media all and (max-width: 815px) and (max-height: 380px){
    .wrapper {
        max-width: 620px;
    }
    .wrapper.home {
        margin-top: 9vw;
    }
    #homeCarousel {
        height: 90vh;
    }
}
@media all and (max-width: 715px) and (max-height: 362px){
    .wrapper {
        max-width: 540px;
    }
}
@media all and (max-width: 615px) and (max-height: 350px){
    .wrapper {
        max-width: 490px;
    }
    .wrapper.home {
        margin-top: 11vw;
    }
}
