@font-face{
    font-family:font-italic;
    src:url( '/fonts/PT_Sans/PTSans-Italic.ttf')
}
@font-face{
    font-family:font-regular;
    src:url('/fonts/PT_Sans/PTSans-Regular.ttf')
}
@font-face{
    font-family:font-bold;
    src:url('/fonts/PT_Sans/PTSans-Bold.ttf')
}
@font-face{
    font-family:font-black;
    src:url('/fonts/Roboto/Roboto-Black.ttf')
}
*{
    box-sizing: border-box;
    font-family: font-regular;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a{ 
    text-decoration: none;
}
p{
    font-size: 1vw;
    color: #272b33; 
    margin-bottom: 1vw;
}
button{
    background: none;
    border: none;
    outline: none;
}
.header-main{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #ffffff81;
    transition: background-color .4s ease-in-out;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -ms-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
}
.header-main.active{
    background-color: #fff;
    transition: background-color .4s ease-in-out;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -ms-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
}
.header-info{
    width: 100%; 
    background-color: #272b33;
    padding: .8vw 0;
}
.wrapper{
    display: flex;
    justify-content: space-between; 
    margin: 0 auto;
    padding: 0;
}
.header-list-social{
    width: fit-content;
    display: flex; 
}
.social-link{
    font-size: .8vw;
    margin-right: .8vw;
    color: #fff;
}
.header-info-list {
    display: flex;
    padding-right: 1vw;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}
.header-info-item{
    font-size: .8vw;
    margin-left: .8vw; 
    color: #fff;
}
.header-info-item a{
    color: #fff; 
}
.header-nav-content{
    width: 100%;
    display: flex;
}
.offcanvas{
    align-self: center;
}
.navbar{
    padding: 1vw 0; 
}
.navbar-nav{ 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.nav-link{ 
    position: relative;
    font-size: 1vw;
    color: #272b33;
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
} 
.navbar-expand-sm .navbar-nav .nav-link{
    margin-left: 1vw;
    padding: .5vw 1vw;
}
.nav-link::before{
    width: 0vw;
    height: 0vw;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    border-top: 2px solid;
    border-left: 2px solid;
    border-color: transparent;
    transition: width, height, .4s ease-in-out;
    -webkit-transition: width, height, .4s ease-in-out;
    -moz-transition: width, height, .4s ease-in-out;
    -ms-transition: width, height, .4s ease-in-out;
    -o-transition: width, height, .4s ease-in-out;
}
.nav-link:hover::before{
    border-color: #e27e6e;
    width: 1vw;
    height: 1vw;
    transition: width, height, .4s ease-in-out;
    -webkit-transition: width, height, .4s ease-in-out;
    -moz-transition: width, height, .4s ease-in-out;
    -ms-transition: width, height, .4s ease-in-out;
    -o-transition: width, height, .4s ease-in-out;
}
.nav-link::after{
    width: 0vw;
    height: 0vw;
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: transparent;
    transition: width, height, .4s ease-in-out;
    -webkit-transition: width, height, .4s ease-in-out;
    -moz-transition: width, height, .4s ease-in-out;
    -ms-transition: width, height, .4s ease-in-out;
    -o-transition: width, height, .4s ease-in-out;
}
.nav-link:hover::after{
    border-color: #e27e6e;
    width: 1vw;
    height: 1vw;
    transition: width, height, .4s ease-in-out;
    -webkit-transition: width, height, .4s ease-in-out;
    -moz-transition: width, height, .4s ease-in-out;
    -ms-transition: width, height, .4s ease-in-out;
    -o-transition: width, height, .4s ease-in-out;
}
.nav-link:hover{
    color: #e27e6e;
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
.navbar-expand-sm .navbar-nav .nav-link.active{
    color: #e27e6e;
}
.navbar-expand-sm .navbar-nav .nav-link.active::before{
    border-color: #e27e6e;
    width: 1vw;
    height: 1vw;
    transition: width, height, .4s ease-in-out;
    -webkit-transition: width, height, .4s ease-in-out;
    -moz-transition: width, height, .4s ease-in-out;
    -ms-transition: width, height, .4s ease-in-out;
    -o-transition: width, height, .4s ease-in-out;
}
.navbar-expand-sm .navbar-nav .nav-link.active::after{
    border-color: #e27e6e;
    width: 1vw;
    height: 1vw;
    transition: width, height, .4s ease-in-out;
    -webkit-transition: width, height, .4s ease-in-out;
    -moz-transition: width, height, .4s ease-in-out;
    -ms-transition: width, height, .4s ease-in-out;
    -o-transition: width, height, .4s ease-in-out;
}
#home{
    margin-top: 2.5vw;
    margin-bottom: 4vw;
}
#homeCarousel{
    width: 100%; 
    height: 70vh;
    position: relative;
    padding-top: 4vw;
}
.carousel-inner{
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}
.carousel-item{
    height: 100%;
}
.carousel-item img{
    height: 100%;
    object-fit: cover; 
    object-position: bottom;
}
.carousel-control-next, .carousel-control-prev{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 45%;
    padding: .5vw;
    background-color: #e27d6e7c;
} 
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 1.3vw;
}
.carousel-control-next:hover, .carousel-control-prev:hover{
    background-color: #e27e6e;
}
.wrapper.home{
    position: relative;
    margin-top: 5vw;
    padding: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;   
}
.block-content:nth-of-type(odd){
    width: 55%;
    opacity: 0;
}
.block-content.animate:nth-of-type(odd){
    animation-name: fadeLeft;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}
.block-content:nth-of-type(even){
    width: 40%;
    opacity: 0;
}
.block-content.animate:nth-of-type(even){
    animation-name: fadeRight;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}
.home .block-content:last-of-type{
    display: flex;
    justify-content: flex-end;
}
.main-title{
    font-size: 3vw;
    color: #fff;
    font-family: font-bold;
    text-transform: uppercase;
    margin-bottom: 1vw;
}
.home p{
    font-size: 1vw;
    color: #fff;
    text-align: justify;
}
.buttons{
    margin-top: 2vw;
}
.buttons a, .submit-btn{
    font-size: 1vw;
    color: #fff;
    position: relative;
    padding: .5vw 1vw;
    margin-right: 1vw;
    transition: background-color .4s ease-in-out;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -ms-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
}
.buttons a:first-of-type, .submit-btn{
    background-color: #e27d6e1c; 
}
.buttons a:last-of-type{
    background-color: #8d7e811f;
}
.buttons a::before, .submit-btn::before{
    width: 1vw;
    height: 1vw;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    border-top: 2px solid;
    border-left: 2px solid;
    border-color: #e27e6e; 
    transition: width, height, .4s ease-in-out;
    -webkit-transition: width, height, .4s ease-in-out;
    -moz-transition: width, height, .4s ease-in-out;
    -ms-transition: width, height, .4s ease-in-out;
    -o-transition: width, height, .4s ease-in-out;
}
.buttons a::after, .submit-btn::after{
    width: 1vw;
    height: 1vw;
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: #e27e6e; 
    transition: width, height, .4s ease-in-out;
    -webkit-transition: width, height, .4s ease-in-out;
    -moz-transition: width, height, .4s ease-in-out;
    -ms-transition: width, height, .4s ease-in-out;
    -o-transition: width, height, .4s ease-in-out;
}
.buttons a:last-of-type::before{
    border-color: #8d7e81;
}
.buttons a:last-of-type::after{
    border-color: #8d7e81;
}
.buttons a:first-of-type:hover, .submit-btn:hover{
    background-color: #e27e6e;
    transition: background-color .4s ease-in-out;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -ms-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
}
.buttons a:last-of-type:hover{
    background-color: #8d7e81;
    transition: background-color .4s ease-in-out;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -ms-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
}
.buttons a:hover::before, .submit-btn:hover::before{
    width: 100%;
    height: 100%;
    transition: width, height, .4s ease-in-out;
    -webkit-transition: width, height, .4s ease-in-out;
    -moz-transition: width, height, .4s ease-in-out;
    -ms-transition: width, height, .4s ease-in-out;
    -o-transition: width, height, .4s ease-in-out;
}
.buttons a:hover::after, .submit-btn:hover::after{
    width: 100%;
    height: 100%;
    transition: width, height, .4s ease-in-out;
    -webkit-transition: width, height, .4s ease-in-out;
    -moz-transition: width, height, .4s ease-in-out;
    -ms-transition: width, height, .4s ease-in-out;
    -o-transition: width, height, .4s ease-in-out;
}
.home-description{ 
    width: 75%;
    padding: 2vw;  
    background-color: #272b33d7;
}
.home-description h2{
    font-size: 1.5vw;
    font-family: font-bold; 
    color: #fff; 
    margin-bottom: 1vw;
}
.home-description p{
    font-size: .8vw;
}
.feature-list{
    margin-bottom: 1vw;
}
.feature-list-item{
    font-size: .8vw;
    color: #fff;
    margin-bottom: .3vw;
}
.feature-list-item .fa-square-check{
    color: #e27e6e;
    margin-right: .3vw;
}
.follow-us-container{
    width: auto;
    display: flex;
    margin-top: 2vw;
}
.follow-us-list span{
    font-size: .6vw;
    color: #e27e6e;  
    display: contents; 
}
.follow-us-list{
    display: flex; 
} 
.follow-us-link{
    margin-left: 1vw;
    font-size: .6vw;
    color: #fff;
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
.follow-us-link:hover{
    color: #e27e6e;
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
#about{
    margin-bottom: 1vw;
}
.about-info span{
    font-size: .8vw;
    text-transform: uppercase;
    color: #e27e6e;
}
.about-info h2{
    font-size: 2vw; 
    color: #272b33;
    margin-top: .5vw;
    margin-bottom: 2vw;
    text-transform: capitalize;
}
.about-info p{
    font-size: 1vw;
    color: #272b33;
    text-align: justify;
    margin-bottom: 1vw; 
} 
.about-info a{
    color: #e27d6ed2;
    font-size: 1vw;
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
.about-info a:hover{
    color: #e27e6e;
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
.about-process{
    margin-top: 2vw;
}
.about-process h3{
    font-size: 1.5vw;
    text-transform: uppercase;
    font-family: font-bold;
    color: #272b33; 
    margin-bottom: 2vw;
}
.process-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.process-item{
    width: 45%;
    margin-bottom: 2vw;
    opacity: 0;
} 
.process-item.animate{
    animation-name: fadeUp;
    animation-duration: .4s;
    animation-fill-mode: forwards; 
}
.process-item-heading{
    width: 100%;
    display: flex;
    margin-bottom: .5vw; 
}
.process-item-heading span{
    font-family: font-black;
    font-size: 2.5vw;
    color: #272b33;
}
.process-item-heading h4 {
    font-size: .8vw;
    font-family: font-bold;
    text-transform: uppercase;
    color: #272b33;
    width: min-content;
    align-self: center;
    margin-bottom: 0;
    margin-left: .3vw;
}
.process-item p{
    font-size: 1vw;
    color: #272b33;
}
.media-container{
    width: 100%;
    height: auto;
    position: relative;
}
#video{
    width: 100%;
    height: auto; 
} 
.media-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
#about h5{
    font-size: 1.5vw;
    color: #e27e6e; 
    text-transform: uppercase; 
    margin-bottom: 2vw;
}
.achievement-container{ 
    width: fit-content;
    display: flex;
    padding: .5vw;
    background-color: #272b33;
    margin: 2vw 0 1vw 0;
}
.badge{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 0 .5vw;
    font-size: 2vw;
    color: #e27e6e;
    background-color: #272b33;
}
.achievement-content{
    padding: .5vw;
    background-color: #fff;
}
.achievement-content h6{
    font-size: .8vw;
    text-transform: capitalize;
    color: #272b33;
    font-family: font-bold;
}
.achievement-content p{
    font-size: .8vw;
    color: #272b33; 
} 
#aboutStats{
    width: 100%;
    margin-bottom: 4vw;
    padding: 2vw;
    background-color: #272b33;
}
.about-stats{
    opacity: 0;
}
.about-stats.animate{
    animation-name: fadeUp;
    animation-duration: .4s;
    animation-fill-mode: forwards;
} 
.stats-content{
    margin: 0 auto;
}
.stats-title{ 
    text-align: center;
    font-size: 1.5vw;
    font-family: font-bold;
    text-transform: capitalize; 
    color: #fff;
    line-height: 1.5;
}
.stats-title span, .visit-us h2 span{
    padding: .3vw 1vw;
    font-family: font-bold;
    color: #272b33;
    background-color: #e27e6e;
}
.stats-list{
    width: 100%;
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-family: font-bold;
}
.stats-list li{
    text-align: center;
    font-size: .8vw;
}
.number-count{
    font-size: 2vw;
    font-family: font-black;
}
#services{
    margin: 4vw 0;
}
.services-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.services-content h2{
    font-size: 2vw;
    text-transform: capitalize;
    color: #272b33;
    margin-bottom: 1vw;
}
.toggle-info{
    width: 100%;
    margin-top: 2vw;
}
.nav-tabs{
    border: none;
    margin-bottom: 2vw;
}
.tab-btn{
    font-size: 1vw;
    font-family: font-bold;
    color: #272b33;
    padding: 0;
    margin-right: 1vw;
}
.tab-btn.active{
    color: #e27e6e;
    text-decoration: underline;
}
.tab-item-content{
    display: flex;
}
.tab-badge {
    width: 5vw;
    font-size: 2vw;
    color: #272b33;
    justify-content: center;
    display: flex;
}
.tab-text{
    margin-left: 1vw;
}
.tab-text h3{ 
    color: #272b33;
    font-size: 1vw;
    font-family: font-bold;
}
.dropdown-menu{ 
    width: max-content;
    padding: 0.5vw 1vw;
    background-color: #272b33d5;
}
.dropdown-menu .tab-btn{
    color: #fff;
}
.dropdown-menu .tab-btn.active, .dropdown-menu .tab-btn:hover{
    color: #e27e6e;
} 
.tab-pane h4{
    font-size: 1vw;
    font-family: font-bold;
    color: #272b33;
}
.tab-pane p{
    text-align: justify;
}
.services-list{
    list-style-type: disc;
    color: #272b33;
    font-size: 1vw;
    padding-left: 1vw;
}
.download-paragraph{
    font-size: 1vw;
    margin-top: 1vw;
    padding-top: .5vw;
    border-top: 1px solid #8d7e81;
}
.pricelist-download{
    color: #e27e6e; 
}
.pricelist-download:hover{
    color: #e27d6ed8;
}
.table{
    font-size: 1vw;
}
.visit-us-block{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    height: 24vw;
    background-repeat: no-repeat;
    background-size: cover; 
    background-image: url(/images/michael-jasmund-m_vEaZizd2s-unsplash.png);
}
.visit-us {
    text-align: center;
    display: block;
    opacity: 0;
}
.visit-us.animate{
    animation-name: fadeUp;
    animation-duration: .4s;
    animation-fill-mode: forwards; 
}
.visit-us h2{
    text-transform: capitalize; 
    font-size: 1.5vw;
    font-family: font-bold;
    line-height: 1.5;  
    color: #fff;
    margin: 0 auto;
    margin-bottom: 2vw;
}
.visit-us p{
    width: 49%;
    font-size: 1vw;
    margin: 0 auto;
    color: #fff;
}
.visit-us-buttons{
    margin-top: 2vw;
}
.prices{ 
    margin-top: 2vw;
}
.products-title{
    font-size: 1.5vw;
    font-family: font-bold;
    text-transform: uppercase;
    color: #e27e6e; 
    margin-bottom: 1vw;
}
.products-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-top: 2vw;
}
.product-item{
    width: 31%;
    height: auto; 
    margin-bottom: 2vw;
}
.product-item-content{
    width: 100%;
    text-align: center;
}
.product-image-holder{
    width: 100%;
    height: 9vw;
    background-color: #8d7e8116;
    padding: 1vw; 
    position: relative;
    transition: background-color .4s ease-in-out;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -ms-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
}
.product-image-holder::before{
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    border-top: 2px solid;
    border-left: 2px solid;
    border-color: #8d7e81; 
    transition: width, height, .4s ease-in-out;
    -webkit-transition: width, height, .4s ease-in-out;
    -moz-transition: width, height, .4s ease-in-out;
    -ms-transition: width, height, .4s ease-in-out;
    -o-transition: width, height, .4s ease-in-out;
}
.product-image-holder::after{
    width: 2vw;
    height: 2vw;
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: #8d7e81;
    transition: width, height, .4s ease-in-out;
    -webkit-transition: width, height, .4s ease-in-out;
    -moz-transition: width, height, .4s ease-in-out;
    -ms-transition: width, height, .4s ease-in-out;
    -o-transition: width, height, .4s ease-in-out;
} 
.product-image-holder:first-of-type:hover{
    background-color: #8d7e81;
    transition: background-color .4s ease-in-out;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -ms-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
}
.product-image-holder:hover::before{
    width: 100%;
    height: 100%;
    transition: width, height, .4s ease-in-out;
    -webkit-transition: width, height, .4s ease-in-out;
    -moz-transition: width, height, .4s ease-in-out;
    -ms-transition: width, height, .4s ease-in-out;
    -o-transition: width, height, .4s ease-in-out;
}
.product-image-holder:hover::after{
    width: 100%;
    height: 100%;
    transition: width, height, .4s ease-in-out;
    -webkit-transition: width, height, .4s ease-in-out;
    -moz-transition: width, height, .4s ease-in-out;
    -ms-transition: width, height, .4s ease-in-out;
    -o-transition: width, height, .4s ease-in-out;
}
.product-image{
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
.product-link-container, .project-button-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #8d7e8100;
    opacity: 0;
    transition: opacity, background-color, .4s ease-in-out;
    -webkit-transition: opacity, background-color, .4s ease-in-out;
    -moz-transition: opacity, background-color, .4s ease-in-out;
    -ms-transition: opacity, background-color, .4s ease-in-out;
    -o-transition: opacity, background-color, .4s ease-in-out;
}
.product-link, .project-btn{
    z-index: 5;
    text-transform: uppercase;
    font-family: font-bold;
    color: #fff;
    font-size: .6vw;
    padding: .5vw;
    background-color: #e27e6e;
    transition:  background-color .4s ease-in-out;
    -webkit-transition:  background-color .4s ease-in-out;
    -moz-transition:  background-color .4s ease-in-out;
    -ms-transition:  background-color .4s ease-in-out;
    -o-transition:  background-color .4s ease-in-out;
}
.product-link:hover,.project-btn:hover{
    cursor: pointer;
    background-color: #fe6952;
    transition: background-color .4s ease-in-out;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -ms-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
}
.product-image-holder:hover .product-link-container, .project-item:hover .project-button-container{
    opacity: 1;
    background-color: #8d7e81cf;
    transition: opacity, background-color, .4s ease-in-out;
    -webkit-transition: opacity, background-color, .4s ease-in-out;
    -moz-transition: opacity, background-color, .4s ease-in-out;
    -ms-transition: opacity, background-color, .4s ease-in-out;
    -o-transition: opacity, background-color, .4s ease-in-out;
}
.product-item-content h4{
    text-transform: uppercase;
    font-size: 1vw;
    font-family: font-bold;
    color: #272b33;
    margin-top: 1vw; 
}
.product-item-content span{
    font-size: .8vw; 
    font-family: font-bold;
    color: #e27e6e;
} 
.prices-title{
    font-size: 1.5vw;
    text-transform: uppercase;
    color: #8d7e81;
    font-family: font-bold;
    margin-bottom: 1vw;
} 
#windows-tab-pane, #siding-tab-pane, #drenaige-tab-pane, #tiles-tab-pane{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
}
#projects{
    margin: 4vw 0;
}
.projects-content span{
    font-size: .8vw;
    text-transform: uppercase;
    color: #e27e6e;
}
.projects-content h2{ 
    font-size: 2vw;
    margin-bottom: 2vw;
    text-transform: capitalize; 
}
.projects-content ul{
    margin-bottom: 1vw;
}
.projects-content a{
    color: #e27d6ed2;
    font-size: 1vw;
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
.projects-content a:hover{
    color: #e27e6e;
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
.projects-titles{
    width: 100%;
    margin-bottom: 1vw;
    padding-bottom: 1vw;
    border-bottom: 1px solid #8d7e81;
}
.projects-titles .nav-tabs{
    margin-bottom: 0;
}
.projects-titles h3{ 
    font-size: 1.5vw;
    font-family: font-bold;
    text-transform: uppercase;
    margin-bottom: 2vw;
}
#projectsTabContent{
    display: flex;
    flex-direction: column-reverse;
}
#projectsTabContent .tab-pane{
    display: none;
}
#projectsTabContent .tab-pane.show{
    order: 1;
    display: flex;
}
.project-item{
    position: relative;
    width: 31%;
    height: auto;
    margin-bottom: 1vw; 
}
.project-image{
    width: 100%;
    height: 6vw;
    object-fit: cover;
}
.expand-image-btn{
    position: absolute;
    top: .5vw;
    right: .5vw; 
    color: #fff; 
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
.expand-image-btn .fa-expand{
    font-size: .8vw;
}
.expand-image-btn:hover{
    color: #e27e6e;
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
.gallery-expand-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #272b33d4;
    flex-wrap: wrap;
    display: none;
    justify-content: center;
    z-index: 100;
}
.gallery-expand-container.active{ 
    display: flex;
}
.expand-item{
    position: relative;
    width: 45vw;
    height: auto;
    margin: 0 auto;
    align-self: center;
}
.expanded-image-header{
    width: 100%;
    position: absolute;
    top: 0;
    padding: 1.5vw 1vw 1vw 1vw; 
    display: flex;
    justify-content: space-between; 
    background-color: #272b33;
    font-family: font-regular; 
    font-size: 1vw;
    color: #ffff;
}
.expanded-image-header h4 {
    font-size: 1.2vw; 
}
.expanded-image-header .fa-xmark{
    font-size: 1.2vw;
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
.expanded-image-header .fa-xmark:hover{
    color: #e27e6e;
    cursor: pointer;
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
.expanded-image{
    width: 100%;
    height: auto;
}
.projects-follow{
    width: 100%;
    margin-top: 0;
    padding-top: 1vw;
    border-top: 1px solid #8d7e81;
}
.projects-follow span{
    font-size: .8vw;
}
.projects-follow a{
    color: #272b33;
    font-size: .8vw;
} 
#testimonials{
    margin: 4vw 0;
    padding: 2vw;
    background-color: #272b33;
}
.testimonials{
    display: block;
    text-align: center; 
    opacity: 0;
}
.testimonials.animate{
    animation-name: fadeUp;
    animation-duration: .4s;
    animation-fill-mode: forwards; 
}
.testimonials h2{
    margin: 0 auto;
    margin-bottom: 2vw; 
    font-size: 1.5vw; 
    line-height: 1.5;
    text-transform: capitalize;
    font-family: font-bold;
    color: #fff;
}
.testimonials span{
    padding: .3vw 1vw;
    font-family: font-bold;
    color: #272b33;
    background-color: #e27e6e;
}
.testimonials .desc-p{
    width: 49%;
    margin: 0 auto; 
    color: #fff; 
}
.testimonials-container{
    width: 100%;
    padding: 2vw 0;
    position: relative;
}
.testimonials-inner{
    position: relative;
    width: 100%;
    height: auto;
}
.carousel-indicators { 
    bottom: -2vw;
    margin-bottom: 0;
}
.carousel-indicators [data-bs-target] {
    background-color: #8d7e81;
}
.carousel-indicators .active{
    background-color: #e27e6e;
}
.testimonials-item-content{
    display: flex;
    justify-content: space-around;
}
.review{
    width: 31%;
    padding: 1vw;
    border: 2px solid #8d7e81;
    display: flex;
    justify-content: space-between;
}
.review-image{
    width: 3vw;
    height: 100%; 
}
.review-image img{
    width: 100%;
    height: 3vw;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.review-text{
    width: 80%;
    text-align: left;
}
.review-text h3{
    font-size: .8vw;
    color: #e27e6e;
}
.review-text p{
    font-size: .8vw;
    color: #fff; 
}
#contacts{
    margin: 4vw 0; 
}
.map{
    width: 100%;
    height: 19vw;
    margin-bottom: 2vw;
}
.contacts-title, .form-title{
    font-size: 2vw;
    text-transform: capitalize;
    margin-bottom: 2vw;
}
.contacts-subtitle, .form-subtitle{
    font-size: 1.5vw;
    text-transform: capitalize;
    color: #272b33;
    font-family: font-bold;
    margin-bottom: 1vw;
}
.contact-info-block{
    display: flex;
}
.contact-block-title{
    margin-right: 1vw;
}
.contact-block-title h4{
    font-size: .8vw;
    font-family: font-bold;
    color: #8d7e81;  
}
.contact-block-text{
    font-size: .8vw;
    color: #272b33;
}
.contact-block-text a{
    color: #e27e6e;
    text-decoration: underline; 
}
.follow-contacts{
    margin-top: 1vw; 
    padding-top: .5vw; 
}
.follow-contacts .follow-us-link{
    color: #272b33;
}
.follow-contacts .follow-us-link:hover{
    color: #e27e6e; 
}
.contact-form{
    width: 100%;
    font-size: 1vw;
}
.contact-form label{
    font-family: font-bold;
}
.contact-form input, .contact-form textarea{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #272b33;
    border-bottom: 2px solid #272b33;
    margin-top: .5vw;
    margin-bottom: 1vw;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.contact-form input::placeholder, .contact-form textarea::placeholder{
    font-size: 1vw;
}
.contact-form input:focus, .contact-form textarea:focus{
    border-color: #e27e6e;
}
.submit-btn{
    font-size: 1vw;
    color: #272b33;
    position: relative;
    padding: .5vw 1vw;
    margin-right: 1vw;
    background-color: #272b3300;
    transition: background-color, color, .4s ease-in-out;
    -webkit-transition: background-color, color, .4s ease-in-out;
    -moz-transition: background-color, color, .4s ease-in-out;
    -ms-transition: background-color, color, .4s ease-in-out;
    -o-transition: background-color, color, .4s ease-in-out;
}
.submit-btn::before{
    width: 1vw;
    height: 1vw;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    border-top: 2px solid;
    border-left: 2px solid;
    border-color: #272b33; 
    transition: width, height, border-color, .4s ease-in-out;
    -webkit-transition: width, height, border-color, .4s ease-in-out;
    -moz-transition: width, height, border-color, .4s ease-in-out;
    -ms-transition: width, height, border-color, .4s ease-in-out;
    -o-transition: width, height, border-color, .4s ease-in-out;
}
.submit-btn::after{
    width: 1vw;
    height: 1vw;
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: #272b33;
    transition: width, height, .4s ease-in-out;
    -webkit-transition: width, height, .4s ease-in-out;
    -moz-transition: width, height, .4s ease-in-out;
    -ms-transition: width, height, .4s ease-in-out;
    -o-transition: width, height, .4s ease-in-out;
}  
.submit-btn:hover{
    background-color: #e27e6e;
    color: #fff;
    transition: background-color, color, .4s ease-in-out;
    -webkit-transition: background-color, color, .4s ease-in-out;
    -moz-transition: background-color, color, .4s ease-in-out;
    -ms-transition: background-color, color, .4s ease-in-out;
    -o-transition: background-color, color, .4s ease-in-out;
} 
.submit-btn:hover::before{
    width: 100%;
    height: 100%;
    border-color: #e27e6e;
    transition: width, height, border-color, .4s ease-in-out;
    -webkit-transition: width, height, border-color, .4s ease-in-out;
    -moz-transition: width, height, border-color, .4s ease-in-out;
    -ms-transition: width, height, border-color, .4s ease-in-out;
    -o-transition: width, height, border-color, .4s ease-in-out;
} 
.submit-btn:hover::after{
    width: 100%;
    height: 100%;
    border-color: #e27e6e;
    transition: width, height, border-color, .4s ease-in-out;
    -webkit-transition: width, height, border-color, .4s ease-in-out;
    -moz-transition: width, height, border-color, .4s ease-in-out;
    -ms-transition: width, height, border-color, .4s ease-in-out;
    -o-transition: width, height, border-color, .4s ease-in-out;
}
.modal-close-btn{
    background: none;
    border: none;
    outline: none;
} 
.modal-close-btn:hover .fa-xmark{
    color: #e27e6e;
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
.modal-close-btn:active .fa-xmark{
    color: #fe6952;
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
.modal-title{ 
    font-size: 1.2vw;
}
.modal-body p{
    font-size: 1vw;
} 
#err-fname, #err-email, #err-mssg{ 
    margin-left: 9px;
    font-size: .8vw;
}
#footer{ 
    background-color: #272b33;
    padding: 2vw;
}
.footer{
    display: block;
    text-align: center;
}
.footer-title{
    font-size: 2vw;
    font-family: font-bold;   
    color: #e27e6e;
    text-transform: uppercase;
}
.footer p{
    width: 39%;
    margin: 0 auto;
    color: #fff;
}
.footer ul{
    width: fit-content;
    display: flex;
    margin: 0 auto;
    margin-top: 2vw;
}
.footer a{
    margin-right: 1vw;
    font-size: 1vw;
    color: #fff;
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
.footer a:hover{
    color: #e27e6e;
    transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
}
.footer-copyright{
    width: 100%;
    margin-top: 2vw;
    padding-top: 1vw;
    border-top: 1px solid #ffffff7e;
    text-align: center;
}
.footer-copyright p{
    font-size: .6vw;
    color: #ffffff7e;
}
